.block-head {
  color: $block-head--Color;
}
@import '__head/block-head__head';
@import '__description/block-head__description';

/*
  headTag: "",
  text: "",
  description: [//Массив параграфов описания
    []//Массив чередующихся текстов, обычный и выделенный чередуются
  ],

$block-head_theme_main__head--Color
*/
