include __description/block-head__description.pug
include __head/block-head__head.pug
mixin block-head(modifier)
  if modifier == undefined
    - modifier = {};
  .block-head&attributes(attributes)
    +block-head__head(modifier)
    if modifier["description"] != undefined
      +block-head__description(modifier)