mixin reviews-section__reviews(modifier)
  .reviews-section__reviews&attributes(attributes)
    +reviews-section__review-cards(modifier)(class="swiper-wrapper")
    +reviews-section__review-pagination(modifier)(class="swiper-pagination")