.reviews-section__reviews {
}

.reviews-section{
    .reviews-section__reviews{
        padding-top: 32px;
        margin-left: 8%;
        width: 48%;

        @media (max-width: $xl - 1px){
          width: auto;
          margin-left: 0;
        }
        @media (max-width: $md - 1px){
              width: 100%;
        }
    }
}