.contacts__contact {
  margin-bottom: 15px;
  &:last-child{margin-bottom: 0px;}
  & a {
    display: flex;
  }
}

.contacts_theme_extra-margin-bottom{
  .contacts__contact {
    margin-bottom: 24px;
    &:last-child{margin-bottom: 0px;}
  }
}
