mixin contacts__contact(modifier)
  li.contacts__contact&attributes(attributes)
    a(href=modifier.link)
      case modifier.pic
        when 'mail'
          +mail_icon(modifier)(class="contacts__pic")
        when 'phone'
          +phone_icon(modifier)(class="contacts__pic")
        when 'location'
          +location(modifier)(class="contacts__pic")
      +contacts__text-container(modifier)