mixin header__top-content(modifier)
  .header__top-content&attributes(attributes)
    +header__logotype-container(modifier)
    +contacts(modifier)(class="header__contacts")
    +header__private-area(modifier)
    +header__sandwich-ico-container(modifier)
