mixin hosting-prices__bodies(modifier)
  ul.hosting-prices__bodies&attributes(attributes)
    each column in modifier.columns
      if column["modifier"] == undefined
        - column["modifier"] = "";
      +hosting-prices__column-body(column)(class=column.modifier)