mixin hosting-prices__proposals-section(modifier)
  .hosting-prices__proposals-section&attributes(attributes)
    +hosting-prices__proposals-pic(modifier)
    +hosting-prices__proposals-side(modifier)