mixin servers__kvm-prices(modifier)
  .servers__kvm-prices&attributes(attributes)
    +servers__price-title(modifier)
    +servers__kvm-text(modifier)
    +advantages-list(modifier.advantagesList)(class="servers__advantages-list")