mixin header__emergency-tel(modifier)
  if modifier["emergencyTel"] == undefined
    - modifier["emergencyTel"] = "empty__emergencyTel";
  a.header__emergency-tel(href="!#")&attributes(attributes)!=modifier.emergencyTel
