.faq-section__accordeon {
    width: 580px;
    margin-bottom: 18px;
    box-shadow: 0px 4px 4px rgba(46, 46, 46, 0.27);
    background-color: $faq-section__accordeon--BGColor;
    @media (max-width: $md - 1px){
          width: 300px;
    }
}
