.benefits__benefit-pic {
    margin-bottom: 19px;
    display: inline-block;
    position:relative;
}

.benefits__benefit_with-right-divider{
    .benefits__benefit-pic {
        &:after{
            content: "";
            position: absolute;
            top: 63%;
            left: 90px;
            width: 340px;
            height: 1px;;
            background-color: $benefits__benefit_with-right-divider--BGColor;
            display: block;
            @media (max-width: $xl - 1px) { 
                width: 200px;
            }
            @media (max-width: $lg - 1px) { 
                display: none;
            }
        }
    }
}
