include __sandwich-ico/header__sandwich-ico.pug
include __sandwich-ico-container/header__sandwich-ico-container.pug
include __service-href/header__service-href.pug
include __service-item/header__service-item.pug
include __service-item/header__service-item.pug
include __services/header__services.pug
include __nav-services/header__nav-services.pug
include __emergency-tel/header__emergency-tel.pug
include __emergency-text/header__emergency-text.pug
include __emergency-text-container/header__emergency-text-container.pug
include __emergency-img/header__emergency-img.pug
include __emergency-block/header__emergency-block.pug
include __page-href/header__page-href.pug
include __page-item/header__page-item.pug
include __pages/header__pages.pug
include __nav-pages/header__nav-pages.pug
include __search/header__search.pug
include ../logotype/logotype.pug
include ../../img/svg/magnifying-glass-svg.pug
mixin header(modifier)
  header.header&attributes(attributes)
    +header__search(modifier)
    +header__nav-pages(modifier)
    +logotype(modifier)(class="header__logotype")
    +header__sandwich-ico-container(modifier)
    +header__emergency-block(modifier)
    +header__nav-services(modifier)