@import '__service-subitem-href/header__service-subitem-href';
@import '__top-container/header__top-container';
@import '__bottom-container/header__bottom-container';
@import '__contacts/header__contacts';
@import '__bottom-content/header__bottom-content';
@import '__top-content/header__top-content';
@import '__logotype-container/header__logotype-container';
@import '__avatar/header__avatar';
@import '__button/header__button';
@import '__lk-link/header__lk-link';
@import '__private-area/header__private-area';
@import '__service-href/header__service-href';
@import '__service-subitem/header__service-subitem';
@import '__service-submenu/header__service-submenu';
@import '__sandwich-ico/header__sandwich-ico';
@import '__sandwich-ico-container/header__sandwich-ico-container';
@import '__logotype/header__logotype';
@import '__service-item/header__service-item';
@import '__services/header__services';
@import '__nav-services/header__nav-services';
@import '../logotype/logotype';
.header {
  color: $header--Color;
  background-color: $header--BGColor;
  font-family: 'PT_Sans' ,"Georgia" , "Serif";
  flex-wrap: wrap;
  position: relative;
  @media (max-width: $md - 1px){
    overflow: hidden;
    @include transition();
  }
  @media print{
    display: none;
  }
}
//нужно создать блок logotype в нём будет логотип
//в img/svg/ должен быть файл logoSVG.pug (это картинка логотипа)
/*
pug variables:
  logoHref,//Ссылка на логотип.
  services: [{text: "serviceTitle", serviceHref: "#!", modifier: "additionalClass", subItems:[{text: "subItemTitle", subItemHref: "#!", modifier: "additionalClass"}]}]// список сервисов, text - текст отображающися и описывающий сервис,  serviceHref - ссылка на эту услугу. Если указать subItems то добавляется модификатор для header__service-href _dropdown (добавляющий треугольничек или другой символ)
colors:
  $header__service-href--color: $black; // текст ссылки на сервисы
  $header__service-href-hover--color : $black; // текст ссылки на сервисы при наведении на них
  $header__service-href_dropdown-after--Color: $black; // цвет треугольника для подменю в сервисах
  $header__service-href_dropdown-after-hover--Color: $black;// цвет треугольника для подменю в сервисах, при наведении на него мышки.
  $header__service-subitem-href--Color: $black; //цвет ссылок в подменю
  $header__service-subitem-href-hover--Color: $black; //цвет ссылок в подменю при наведении на них мышкой.
  $header__nav-services--BorderTopColor: $black; // цвет верхней гранницы отделяющей сервисы от навигации с логотипом
  $header__sandwich-ico--BGColor: $black; // цвет средней полоски бутерброда
  $header__sandwich-ico-after-before--BGColor : $header__sandwich-ico--BGColor; //цвет верхней и нижней полосок бутерброда
  $header__mobile-devider--BGColor: $black; // цвет полоски, которая, на мобильных экранах, отделяет хедер от остального контента.
*/
