include __service-subitem-href/header__service-subitem-href.pug
include __service-subitem/header__service-subitem.pug
include __service-submenu/header__service-submenu.pug
include __logotype-container/header__logotype-container.pug
include __sandwich-ico/header__sandwich-ico.pug
include __sandwich-ico-container/header__sandwich-ico-container.pug
include __service-href/header__service-href.pug
include __service-item/header__service-item.pug
include __service-item/header__service-item.pug
include __services/header__services.pug
include __nav-services/header__nav-services.pug
include __page-href/header__page-href.pug
include __page-item/header__page-item.pug
include __pages/header__pages.pug
include __nav-pages/header__nav-pages.pug
include __search/header__search.pug
include ../logotype/logotype.pug
include ../../img/svg/magnifying-glass-svg.pug
mixin header(modifier)
  if modifier == undefined
    - modifier = {}
  header.header&attributes(attributes)
    +header__search(modifier)
    +header__nav-pages(modifier)
    +header__logotype-container(modifier)
    +header__sandwich-ico-container(modifier)
    +header__nav-services(modifier)