mixin faq-section__accordeon-title-container(modifier)
  .faq-section__accordeon-title-container&attributes(attributes)
    +faq-section__accordeon-toggle-symbol(modifier)
    +faq-section__accordeon-title(modifier)