.header__sandwich-ico {
  background: $header__sandwich-ico--BGColor;/*Задаём цвет средней линии сэндвича*/
  display: block;/*нужно чтобы задать ширину и высоту средней линии сэндвича*/
  height: 3px;/*высота этой линии*/
  position: absolute;/*нужно чтобы задать абсолютное позиционирование верхней и нижней полоске сэндвича*/
  z-index: 2;
  left: 0;
  transition: background .5s ease-out;/*скорость исчезновения средней линии*/
  width: 24px;
  top: 50%;

  &:before,
  &:after {
    background: $header__sandwich-ico-after-before--BGColor;/*цвет этих линий*/
    content: '';
    display: block;/*чтобы задать им ширину и высоту*/
    width: 100%;/*ширина будет такой же как и у средней линии*/
    height: 100%;/*высота будет такой же как и у средней линии*/
    position: absolute;/*для позиционирования*/
    transition: all .5s ease-out;/*скорость анимации*/
  }

  &:before {/*первая линия бутерброда*/
    top: 7px;/*перва линия будет выше средней*/
  }

  &:after {/*третья линия бутерброда*/
    top: -7px;/*третья линия будет ниже*/
  }
  @media (max-width: $md - 1px){
    margin-top: -3px;
  }
}

.header_expanded{
  .header__sandwich-ico {
    background: transparent;/*в открытом состоянии средняя линия бутерброда будет иметь прозрачный цвет*/

    &:before,
    &:after {
      top: 0px;/*задаём верхней и нижней линиям бутерброда высоту равной средней линии бутерброда, так крест будет находится ровно посередине*/
    }
    &:before {
      transform: rotate(-45deg);/*при открывании бутерброда нижняя линия повернётся на 45 градусов против часовой стрелки*/
    }
    &:after {
      transform: rotate(45deg);/*при открывании бутерброда верхняя линия повернётся на 45 градусов по часовой стрелке*/
    }
  }
}
