include ../domain-names/domain-names.pug
include ../servers/servers.pug
mixin domains-and-servers-container(modifier)
  .domains-and-servers-container&attributes(attributes)
    +domain-names(modifier.domainNames)(class="content-container")
    +servers(modifier.servers)(class="content-container")