svg.purple-gradient&attributes(attributes)(viewBox='0 0 0 0')
    defs
      lineargradient#svg-purple-gradient
        stop(offset='0%', stop-color='#BC9CFF')
        stop(offset='100%', stop-color='#8BA4F9')