svg.purple-gradient_faded&attributes(attributes)(viewBox='0 0 0 0')
    defs
      lineargradient#svg-purple-gradient_faded
        stop(offset='0%', style="stop-color: #BC9CFF; stop-opacity: 0.3")
        stop(offset='100%', style="stop-color: #8BA4F; stop-opacity: 0.3")