.contacts__substring {
  font-size: 1.4rem;
  margin-top: -4px;

  span{
    opacity: 0.7;
    font-style: italic;
    font-weight: 200;
    font-size: 14px;
    line-height: 150%;
  }
}

.contacts_theme_footer{
  .contacts__substring {
    margin-top: 23px;
    font-size:16px;
    span{
      font-size:16px;
    }
  }
}