include __label/main-screen__label.pug
include __active-elements/main-screen__active-elements.pug
include __advantage-description/main-screen__advantage-description.pug
include advantage-text/main-screenadvantage-text.pug
include __advantages/main-screen__advantages.pug
mixin main-screen(modifier)
  .main-screen&attributes(attributes)
