include __content/main-screen__content.pug
include __advantage-text/main-screen__advantage-text.pug
include __advantage/main-screen__advantage.pug
include __label/main-screen__label.pug
include __active-elements/main-screen__active-elements.pug
include __advantage-description/main-screen__advantage-description.pug
include __advantages/main-screen__advantages.pug
include ../block-head/block-head.pug
include ../button/button.pug
mixin main-screen(modifier)
  if modifier == undefined
    - modifier = {};
  section.main-screen&attributes(attributes)
    +main-screen__content(modifier)(class="content-container")
