.header__logotype {
  position: absolute;
  
  @media (max-width: $md - 1px){
    margin-left: 10px;
    order:1;
    top: auto;
    left: auto;
    position: static;
    width: 117px;
    height: 29px;
  }
}
