/* no sense variables */
$transparent: transparent;
$inherit: inherit;

$white: #fff;//Не удалять, используется в global.css
$black: #000;//Не удалять, используется в global.css

$orange: #FA6232;

/* variables with sense */

/* *********************************************************************** */

$header__page-href--color: red; /**/
$header__page-href-hover--color : green; /**/
$header__nav-pages-after--BGColor: green;
$header__service-href--color: purple;
$header__service-href-hover--color : $black;
$header__nav-services--BorderTopColor: yellow;//
$header__sandwich-ico--BGColor: $black;
$header__sandwich-ico-after-before--BGColor : $black;
$header__mobile-devider--BGColor: red;

$header__service-href_dropdown-after--Color: $black;
$header__service-href_dropdown-after-hover--Color: red;
$header__service-subitem-href--Color: $black;
$header__service-subitem-href-hover--Color: green;
