html{
  background-color: $white;
  color: $black;
  font-family: 'SF Pro Display' ,Arial , Sans-serif;
  font-size: 10px;
  @media (max-width: $md - 1px){
    font-size: 7px;
  }
}
body{
  margin:0;
}
main{
}

.content-container{
  max-width: 1180px;
  @include mx(auto);
  @include px(15px);
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $inherit;
}
