@mixin unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
@mixin rounded($r: 50%){
    -moz-border-radius: $r;
    -webkit-border-radius: $r;
    border-radius: $r;
}

@mixin transition($n: .5, $m: .1, $function: ease-out){
    //Первое число отвечает за длительность анимации, второе за время, которое потребуется для срабатывания анимации ( в данном случае если убрать курсор с круга, анимация сработает чере одну десятую секунды), к тому же этот транзишон отвечает за анимацию перехода от состояния hover к обычному состоянию
    $s:0s;

    -moz-transition: ($s + $n) $function ($s + $m);
    -webkit-transition: ($s + $n) $function ($s + $m);
    -o-transition: ($s + $n) $function ($s + $m);
    transition: ($s + $n) $function ($s + $m);//$s+$n - такая запись нужна, чтобы преобразовать просто число , в данном случае 0.5 в 0.5s . т.к. для transition нужны именно секунды. К несчастью запись $n : $s + $n - воспринимается  как рекурсивное переопределение переменной, поэтому приходиться не переопределять переменную.
}

@mixin square($side: 25px){
    width: $side;
    height: $side;
}
@mixin wihe($width: 25px,$height: 25px){
    width: $width;
    height: $height;
}
@mixin centeredX($transLeft: -50%, $left: 50%){
    left: $left;
    transform: translateX($transLeft);
}
@mixin centeredY($transTop: -50%, $top: 50%){
    top: $top;
    transform: translateY($transTop);
}
@mixin centered( $transLeft: -50% , $transTop: -50%, $top: 50%, $left: 50%){
    top: $top;
    left: $left;
    transform: translate( $transLeft , $transTop);
}
@mixin my($value){
	margin-top: $value;
	margin-bottom: $value;
}
@mixin mx($value){
	margin-left: $value;
	margin-right: $value;
}
@mixin py($value){
	padding-top: $value;
	padding-bottom: $value;
}
@mixin px($value){
	padding-left: $value;
	padding-right: $value;
}
@mixin placeholderColor($color){
    &::-moz-placeholder { color: $color;}
    &::-webkit-input-placeholder { color: $color; }
    &:-ms-input-placeholder { color: $color; }
    &::-ms-input-placeholder { color: $color; }
    &::placeholder { color: $color; }

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: red;
      opacity: 1; /* Firefox */
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: red;
    }

    ::-ms-input-placeholder { /* Microsoft Edge */
      color: red;
    }
}


/* --------------------------------------------- */

/* ############################################# */

/* --------------------------------------------- */

/* Header styles */
@mixin commonHeaderStyle{
  font-family: 'montserrat' ,arial , sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}

@mixin boldCommonHeaderStyle{
  @include commonHeaderStyle;

  font-weight: bold;
}

@mixin headerStyle{
  @include commonHeaderStyle;

  color: #1F2041;
  font-weight: bold;

}

/* faded font */
@mixin commonFontStyle{/* used as start point for fading */
  font-family: 'montserrat' ,arial , sans-serif;
  font-style:normal;
  font-size: 14px;
  line-height: 24px;
}

@mixin regularFontStyle{
  @include commonFontStyle;

  color: rgba(31,32,65,0.75);
}

@mixin slightfadedFontStyle{
  @include commonFontStyle;

  color: rgba(31,32,65,0.5);
}

@mixin fadedFontStyle{
  @include commonFontStyle;

  color: rgba(31,32,65,0.25);
}

/* common fonts */
@mixin lesserCommonFontStyle{
  font-family: 'montserrat' ,arial , sans-serif;
  font-style:normal;
  font-size: 12px;
  line-height: 15px;
}
@mixin lesserBoldCommonFontStyle{
  @include lesserCommonFontStyle;

  font-weight: bold;
}

@mixin smallCommonFontStyle{
  font-family: 'montserrat' ,arial , sans-serif;
  font-style:normal;
  font-size: 10px;
  line-height: 12px;
}

/* mixins for buttons with gradient borders(with rounded shape) you can see example in like-button */
	@mixin button_transparent_with-border (
      $gradient-color: $buttonBorderColor_transparent,
      $gradient-text: $button_transparent--color,
      $border-width:$border-width_transparent,
      $child-name: "button__text",
      $normal-width: $normal-size-width,
      $vertical-padding: $normal-size-vertical-padding,
      $bradius:$border-radius,
      $transparent-color: $buttonBackgroundColor_transparent){
		background-image: $gradient-color;
		color: $gradient-text;
		padding-left: $border-width;
		padding-top: $border-width;
		padding-bottom: $border-width;

		#{$child-name}{
			width: $normal-width - $border-width*2;
			padding-top: $vertical-padding - $border-width;
			padding-bottom: $vertical-padding - $border-width;
			display: flex;
			border-radius: $bradius;
			background-color: $transparent-color;
			justify-content: center;
			align-items: center;
		}

		&:hover{
			opacity: 0.75;
		}

		&:active{
			opacity: 0.5;
		}
	}
