mixin button(modifier)
  if modifier == undefined
    - modifier = {};
  if modifier["buttonText"] == undefined
    - modifier["buttonText"] = "empty__buttonText";
  button.button(type="button")&attributes(attributes)!=modifier.buttonText