mixin hosting-prices__proposals-pic(modifier)
  picture.hosting-prices__proposals-pic&attributes(attributes)
    source(type='image/webp' srcset=require('../../img/hosting-prices-left-pic-mobile.webp') media="(max-width: 766px)")
    source(type='image/webp' srcset=require('../../img/hosting-prices-left-pic.webp') media="(min-width: 767px)")
    img(src=require('../../img/hosting-prices-left-pic.webp') alt="hosting-prices-left-pic")