mixin main-screen__advantages(modifier)
  if modifier["advantages"] == undefined
    - modifier["advantages"] = [{}];
  ul.main-screen__advantages&attributes(attributes)
    each advantage in modifier.advantages
      if advantage["modifier"] == undefined
        - advantage["modifier"] = "";
      +main-screen__advantage(advantage)(class=advantage.modifier)