mixin main-screen__advantage-description(modifier)
  if modifier["description"] == undefined
    - modifier["description"] = "empty__description";
  p.main-screen__advantage-description&attributes(attributes)!=modifier.description
