.servers__table {
  grid-template-columns: repeat(4, 170px);
  display: grid;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: $servers__table--Color;
  padding-left: 4px  ;
  overflow-x: scroll;

  @media (max-width: $md - 1px){
    width: 100%;
  }
}
