.servers {
  padding-top: 176px;
  padding-bottom: 121px;
  @media (max-width: $md - 1px){
    padding: 15px 0px;
  }
}
/*
blockHead: {text:""},
textContainer:{texts: [""], buttonText:""},
titleKVM:"",
textKVM: "",
advantagesList: {advantage-list:[{}]},
cells:[{modifier,text,buttonText}],
*/
@import '__block-head/servers__block-head';
@import '__pic/servers__pic';
@import '__text-container/servers__text-container';
@import '__kvm-prices/servers__kvm-prices';
@import '__price-title/servers__price-title';
@import '__kvm-text/servers__kvm-text';
@import '__table/servers__table';
@import '__table-cell/servers__table-cell';
@import '__button/servers__button';
@import '__advantages-list/servers__advantages-list';
@import '__row/servers__row';
