mixin contacts__text(modifier)
  if modifier["texts"] == undefined
    - modifier["texts"] = [{}];
  span!=JSON.stringify(modifier.texts)
  each text in modifier.texts
    if text["text"] == undefined
      - text["text"] = "empty__contact__text";
    if text["modifier"] == undefined
      - text["modifier"] = "";
    p.contacts__text(class=text.modifier)&attributes(attributes)!=text.text
    