mixin main-screen__content(modifier)
  .main-screen__content&attributes(attributes)
    +block-head(modifier.blockHead)(class="main-screen__block-head block-head_theme_main")
    +main-screen__advantages(modifier)
    +main-screen__active-elements(modifier)   