mixin ssl-cert__ssl-advantage(modifier)
  if modifier["advantage"] == undefined
    - modifier["advantage"] = "empty__advantage";
  li.ssl-cert__ssl-advantage&attributes(attributes)!=modifier.advantage
