.faq-section__accordeon-toggle-symbol {
    padding: 0;
    position: relative;
    display: block;
    margin-right: 25px ;

    $sybmolWidth: 31px;
    @include square($sybmolWidth);
    &:after,&:before{
        transition: 0.3s background-color .15s transform;
        position: absolute;
        display: block;
        content: "";
        width: $sybmolWidth;
        height: 3px;
        background-color: $faq-section__accordeon-toggle-symbol-after-before--BGColor;
        top: 47%;
    }
    &:after{
        left: 0px;
        transform: rotate(90deg);
        transition: transform .3s;
    }
    &:before{
        transform: translateY(50%);
        left:0;
    }
    
}
@media (min-width: $lg){
  .faq-section__accordeon-title-container:hover{
    .faq-section__accordeon-toggle-symbol {
        &:after,&:before{
            background-color: $faq-section__accordeon-toggle-symbol-after-before-hover--BGColor;
            transition: 0.3s background-color transform .3s;
        }
    }
  }
}

.faq-section__accordeon_opened{
    .faq-section__accordeon-toggle-symbol:after{
        transform: rotate(180deg);
        transition: transform .3s;
        background-color: $faq-section__accordeon-toggle-symbol_opened-after-before--BGColor;
    }
    .faq-section__accordeon-toggle-symbol:before{
        background-color: $faq-section__accordeon-toggle-symbol_opened-after-before--BGColor;
    }
}