.benefits {
  padding-top: 67px;
  padding-bottom: 89px;
  background-color: $benefits--BGColor;

  @media (max-width: $md - 1px) { 
    @include py(15px);
  }
}
@import '__block_head/benefits__block_head';
@import '__benefits-list/benefits__benefits-list';
@import '__benefit/benefits__benefit';
@import '__benefit-pic/benefits__benefit-pic';
@import '__benefit-title/benefits__benefit-title';
@import '__benefit-text/benefits__benefit-text';
