mixin domain-names__content(modifier)
  .domain-names__content&attributes(attributes)
    +text-container(modifier.textContainer)(class="domain-names__text-container")
    +domain-names__names(modifier)
