include ../../blocks/favicon/favicon.pug
include ../../blocks/main-screen/main-screen.pug
include ../../blocks/header/header.pug
doctype html
html(lang="ru")
  head
    meta(charset = "utf-8")
    meta(name="viewport", content="initial-scale=1.0, width=device-width")
    title Дом Сайтов
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    +favicon()
  body
    +header({
      buttonText: " Купить хостинг",
      contacts:[
        {
          link:"tel:+74951234556",
          pic: 'phone',
          text: "+7 (495) 123-45-56",
        },
        {
          link: "mailto:support@wshost.ru",
          pic: 'mail',
          text: "support@wshost.ru",
          substr: ["(поддержка ","24/7",")"],
        },
      ],
      services:[
        {text:"хостинг"},
        {text:"VPS"},
        {text:"регистрация доменов"},
        {text:"SSL"},
        {
          text: `хостинг-провайдер`,
          subItems: [
            {text: "subItem 1"},
            {text: "subItem 2"},
            {text: "subItem 3"},
          ]
        }
      ]
    })
    main
      +main-screen({
        blockHead:{
          headTag : "h1",
          text: "Платный хостинг для сайта",
        },
        advantages: [
          {
            text:"Совместим с любыми CMS:", 
            description:"1С-Битрикс, Wordpress, Opencart, DLE, Joomla и др.",
          },
          {
            text: "Всё включено:",
            description: "PHP 5.4 – 8.0, Perl, FTP, MySQL, ISPManager",
          }
        ],
        labelText: "Всего от ",
        labelHighlightedText: "99 ₽ в месяц!",
        buttonText: "Заказать хостинг",
      })