include ../../blocks/favicon/favicon.pug
include ../../blocks/main-screen/main-screen.pug
include ../../blocks/header/header.pug
include ../../blocks/hosting-prices/hosting-prices.pug
include ../../blocks/CMS-support/CMS-support.pug
include ../../blocks/ssl-cert/ssl-cert.pug

doctype html
html(lang="ru")
  head
    meta(charset = "utf-8")
    meta(name="viewport", content="initial-scale=1.0, width=device-width")
    title Дом Сайтов
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    +favicon()
  body
    +header({
      buttonText: " Купить хостинг",
      contacts:[
        {
          link:"tel:+74951234556",
          pic: 'phone',
          text: "+7 (495) 123-45-56",
        },
        {
          link: "mailto:support@wshost.ru",
          pic: 'mail',
          text: "support@wshost.ru",
          substr: ["(поддержка ","24/7",")"],
        },
      ],
      services:[
        {text:"хостинг"},
        {text:"VPS"},
        {text:"регистрация доменов"},
        {text:"SSL"},
        {
          text: `хостинг-провайдер`,
          subItems: [
            {text: "subItem 1"},
            {text: "subItem 2"},
            {text: "subItem 3"},
          ]
        }
      ]
    })
    main
      +main-screen({
        blockHead:{
          headTag : "h1",
          text: "Платный хостинг для сайта",
        },
        advantages: [
          {
            text:"Совместим с любыми CMS:", 
            description:"1С-Битрикс, Wordpress, Opencart, DLE, Joomla и др.",
          },
          {
            text: "Всё включено:",
            description: "PHP 5.4 – 8.0, Perl, FTP, MySQL, ISPManager",
          }
        ],
        labelText: "Всего от ",
        labelHighlightedText: "99 ₽ в месяц!",
        buttonText: "Заказать хостинг",
      })
      +hosting-prices({
      blockHead: {
        text: "Тарифы на хостинг", 
        description: [
          ["У нас оптимальные тарифы на классический виртуальный хостинг с безлимитными ресурсами на количество сайтов, баз данных и FTP."],
          ["Выбирайте наш лучший ","безлимитный", " хостинг в России!"]
        ],
      },
      columns: [
                  {
                    columnHeadPicModifier: "",
                    columnHeadPic:"baloon",
                    columnHeadText: "мини",
                    advantages: [
                      {
                        modifier:"hosting-prices__advantage_theme_main", 
                        text: "2Gb места SSD ",
                      },
                      {text: "PHP - 5.6, 7.0, 7.1, 7.2, 7.3, 7.4"},
                      {text: "Поддержка любой CMS"},
                      {text: "Бесплатные SSL сертификаты Let's Encrypt"},
                      {text: "Защита от DDoS"},
                    ],
                    price: {price: "99 ₽", period: "в месяц"},
                    oldPrice: {price: "117 ₽", period:"в месяц"},
                    buttonText: "Купить хостинг",
                  },
                  {
                    columnHeadPicModifier: "",
                    columnHeadPic:"telegram",
                    columnHeadText: "старт",
                    advantages: [
                      {
                        modifier:"hosting-prices__advantage_theme_main", 
                        text: "7Gb места SSD ",
                      },
                      {text: "PHP - 5.6, 7.0, 7.1, 7.2, 7.3, 7.4"},
                      {text: "Поддержка любой CMS"},
                      {text: "Бесплатные SSL сертификаты Let's Encrypt"},
                      {text: "Защита от DDoS"},
                      {text: "Повышенная производительность"},
                      {text: "Домен в подарок"},
                    ],
                    price: {price: "149 ₽", period: "в месяц"},
                    oldPrice: {price: "117 ₽", period:"в месяц"},
                    buttonText: "Купить хостинг",
                  },
                  {
                    columnHeadPicModifier: "",
                    columnHeadPic:"helicopter",
                    columnHeadText: "стандарт",
                    advantages: [
                      {
                        modifier:"hosting-prices__advantage_theme_main", 
                        text: "30Gb места SSD ",
                      },
                      {text: "PHP - 5.6, 7.0, 7.1, 7.2, 7.3, 7.4"},
                      {text: "Поддержка любой CMS"},
                      {text: "Бесплатные SSL сертификаты Let's Encrypt"},
                      {text: "Защита от DDoS"},
                      {text: "Повышенная производительность"},
                      {text: "Домен в подарок"},
                    ],
                    price: {price: "290 ₽", period: "в месяц"},
                    oldPrice: {price: "117 ₽", period:"в месяц"},
                    buttonText: "Купить хостинг",
                  },
                  {
                    columnHeadPicModifier: "",
                    columnHeadPic:"rocket",
                    columnHeadText: "бизнес",
                    advantages: [
                      {
                        modifier:"hosting-prices__advantage_theme_main", 
                        text: "50Gb места SSD ",
                      },
                      {text: "PHP - 5.6, 7.0, 7.1, 7.2, 7.3, 7.4"},
                      {text: "Поддержка любой CMS"},
                      {text: "Бесплатные SSL сертификаты Let's Encrypt"},
                      {text: "Защита от DDoS"},
                      {text: "Повышенная производительность"},
                      {text: "Домен в подарок"},
                    ],
                    price: {price: "470 ₽", period: "в месяц"},
                    oldPrice: {price: "117 ₽", period:"в месяц"},
                    buttonText: "Купить хостинг",
                  },
                ],
      gridLabel:"Неограниченно сайтов, баз данных MySQL, FTP аккаунтов и почтовых ящиков",
      link:{href:"#!",text: "Посмотреть все характеристики нашего хостинга"},
      proposalsTitle: "Вместе с хостингом Вы получите",
      proposals: [
        {proposal:"30 дней на тестовый период + 100% возврат денег, если хостинг не подойдёт"},
        {proposal:"Хостинг в подарок при оплате тарифа на 1 год"},
        {proposal:"Бесплатный перенос сайта от другого хостинг-провайдера"},
      ],
      })
      +CMS-support({
        blockHead: {
          text: "Хостинг с поддержкой любой CMS",
          description: [
            ["На нашем виртуальном хостинге вы сможете разместить сайт на ", "любой CMS", ",<br/>а также установить в два клика любую популярную систему управлению сайтом"]
          ],
        },
        logos:[
          {logo:"1c"},
          {logo:"WordPress"},
          {logo:"Joomla"},
          {logo:"MODX"},
          {logo:"opencart"},
          {logo:"umiCMS"},
          {logo:"drupal"},
          {logo:"instantCMS"},
          {logo:"netcat"},
          {logo:"phpBB"},
          {logo:"shopscript"},
          {logo:"DLE"},
          {logo:"hostcms"},
          {logo:"prestashop"},
        ],
      })
      +ssl-cert({
        blockHead: {
          text: "SSL-сертификаты",
          description: [
            ["Купить SSL и попасть в TOP Google. WSHOST предлагает низкие цены и быстрый выпуск за счет ", "уникальных", " партнерских условий с удостоверяющими центрами."],
            ["Подберите сертификат исходя из задач и предпочтений, удобные фильтры и описание помогут определиться"]
          ],
        },
        sslTypes: [
          {
            modifier: "", 
            sslType:{
              title:"SSL для сайта<br/>Comodo PositiveSSL",
              advantages: [
                {advantage: "Доступен физическим лицам"},
                {advantage: "Защита 1го домена"},
                {advantage: "Поддержка IDN доменов"},
                {advantage: "Низкая степень доверия"},
                {advantage: "Совместимость с браузерами: 96%"},
                {advantage: "Автоустановка на наш хостинг"},
              ],
              price:{price:"900 ₽", period: "/ год"}
            },
          },
          {
            modifier: "", 
            sslType:{
              title:"SSL для магазина<br/>Positive SSL MDC<br/>(3 domains)",
              advantages: [
                {advantage: "Доступен физическим лицам"},
                {advantage: "Защита 3х доменов"},
                {advantage: "Опция добавления доменов"},
                {advantage: "Поддержка IDN доменов"},
                {advantage: "Достаточная степень доверия"},
                {advantage: "Совместимость с браузерами: 99.8%"},
                {advantage: "Автоустановка на наш хостинг"},
              ],
              price:{price:"3800 ₽", period: "/ год"}
            },
          },
          {
            modifier: "", 
            sslType:{
              title:"С защитой поддоменов<br/>Essential SSL Wildcard",
              advantages: [
                {advantage: "Доступен физическим лицам"},
                {advantage: "Защита всех поддоменов"},
                {advantage: "Поддержка IDN доменов"},
                {advantage: "Достаточная степень доверия"},
                {advantage: "Совместимость с браузерами: 99.8%"},
                {advantage: "Автоустановка на наш хостинг"},
              ],
              price:{price:"6700 ₽", period: "/ год"}
            },
          },
          {
            modifier: "", 
            sslType:{
              title:"С зеленой строкой<br/>True BusinessID with EV",
              advantages: [
                {advantage: "Только для юридических лиц"},
                {advantage: "Защита одного домена"},
                {advantage: "Зеленая адресная строка"},
                {advantage: "Наивысшая степень доверия"},
                {advantage: "Без поддержки IDN"},
                {advantage: "Совместимость с браузерами: 99.9%"},
                {advantage: "Автоустановка на наш хостинг"},
              ],
              price:{price:"12600 ₽", period: "/ год"}
            },
          },
        ],
        buttonText: "Заказать SSL сертификат",
      })