include ../../blocks/favicon/favicon.pug
include ../../blocks/main-screen/main-screen.pug
include ../../blocks/header/header.pug
include ../../blocks/hosting-prices/hosting-prices.pug
doctype html
html(lang="ru")
  head
    meta(charset = "utf-8")
    meta(name="viewport", content="initial-scale=1.0, width=device-width")
    title Дом Сайтов
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    +favicon()
  body
    +header({
      buttonText: " Купить хостинг",
      contacts:[
        {
          link:"tel:+74951234556",
          pic: 'phone',
          text: "+7 (495) 123-45-56",
        },
        {
          link: "mailto:support@wshost.ru",
          pic: 'mail',
          text: "support@wshost.ru",
          substr: ["(поддержка ","24/7",")"],
        },
      ],
      services:[
        {text:"хостинг"},
        {text:"VPS"},
        {text:"регистрация доменов"},
        {text:"SSL"},
        {
          text: `хостинг-провайдер`,
          subItems: [
            {text: "subItem 1"},
            {text: "subItem 2"},
            {text: "subItem 3"},
          ]
        }
      ]
    })
    main
      +main-screen({
        blockHead:{
          headTag : "h1",
          text: "Платный хостинг для сайта",
        },
        advantages: [
          {
            text:"Совместим с любыми CMS:", 
            description:"1С-Битрикс, Wordpress, Opencart, DLE, Joomla и др.",
          },
          {
            text: "Всё включено:",
            description: "PHP 5.4 – 8.0, Perl, FTP, MySQL, ISPManager",
          }
        ],
        labelText: "Всего от ",
        labelHighlightedText: "99 ₽ в месяц!",
        buttonText: "Заказать хостинг",
      })
      +hosting-prices({
      blockHead: {
        text: "Тарифы на хостинг", 
        description: [
          ["У нас оптимальные тарифы на классический виртуальный хостинг с безлимитными ресурсами на количество сайтов, баз данных и FTP."],
          ["Выбирайте наш лучший ","безлимитный", " хостинг в России!"]
        ],
      },
      columns: [
                  {
                    columnHeadPicModifier: "",
                    columnHeadPic:"baloon",
                    columnHeadText: "мини",
                    advantages: [
                      {
                        modifier:"hosting-prices__advantage_theme_main", 
                        text: "2Gb места SSD ",
                      },
                      {text: "PHP - 5.6, 7.0, 7.1, 7.2, 7.3, 7.4"},
                      {text: "Поддержка любой CMS"},
                      {text: "Бесплатные SSL сертификаты Let's Encrypt"},
                      {text: "Защита от DDoS"},
                    ],
                    price: {price: "99 ₽", period: "в месяц"},
                    oldPrice: {price: "117 ₽", period:"в месяц"},
                    buttonText: "Купить хостинг",
                  },
                  {
                    columnHeadPicModifier: "",
                    columnHeadPic:"telegram",
                    columnHeadText: "старт",
                    advantages: [
                      {
                        modifier:"hosting-prices__advantage_theme_main", 
                        text: "7Gb места SSD ",
                      },
                      {text: "PHP - 5.6, 7.0, 7.1, 7.2, 7.3, 7.4"},
                      {text: "Поддержка любой CMS"},
                      {text: "Бесплатные SSL сертификаты Let's Encrypt"},
                      {text: "Защита от DDoS"},
                      {text: "Повышенная производительность"},
                      {text: "Домен в подарок"},
                    ],
                    price: {price: "149 ₽", period: "в месяц"},
                    oldPrice: {price: "117 ₽", period:"в месяц"},
                    buttonText: "Купить хостинг",
                  },
                  {
                    columnHeadPicModifier: "",
                    columnHeadPic:"helicopter",
                    columnHeadText: "стандарт",
                    advantages: [
                      {
                        modifier:"hosting-prices__advantage_theme_main", 
                        text: "30Gb места SSD ",
                      },
                      {text: "PHP - 5.6, 7.0, 7.1, 7.2, 7.3, 7.4"},
                      {text: "Поддержка любой CMS"},
                      {text: "Бесплатные SSL сертификаты Let's Encrypt"},
                      {text: "Защита от DDoS"},
                      {text: "Повышенная производительность"},
                      {text: "Домен в подарок"},
                    ],
                    price: {price: "290 ₽", period: "в месяц"},
                    oldPrice: {price: "117 ₽", period:"в месяц"},
                    buttonText: "Купить хостинг",
                  },
                  {
                    columnHeadPicModifier: "",
                    columnHeadPic:"rocket",
                    columnHeadText: "бизнес",
                    advantages: [
                      {
                        modifier:"hosting-prices__advantage_theme_main", 
                        text: "50Gb места SSD ",
                      },
                      {text: "PHP - 5.6, 7.0, 7.1, 7.2, 7.3, 7.4"},
                      {text: "Поддержка любой CMS"},
                      {text: "Бесплатные SSL сертификаты Let's Encrypt"},
                      {text: "Защита от DDoS"},
                      {text: "Повышенная производительность"},
                      {text: "Домен в подарок"},
                    ],
                    price: {price: "470 ₽", period: "в месяц"},
                    oldPrice: {price: "117 ₽", period:"в месяц"},
                    buttonText: "Купить хостинг",
                  },
                ],
      gridLabel:"Неограниченно сайтов, баз данных MySQL, FTP аккаунтов и почтовых ящиков",
      link:{href:"#!",text: "Посмотреть все характеристики нашего хостинга"},
      })