mixin reviews-section__review-cards(modifier)
  if modifier["reviewCards"] == undefined
    - modifier["reviewCards"] = [{}];
  ul.reviews-section__review-cards&attributes(attributes)
    each  card in modifier.reviewCards
      +reviews-section__review-card(card)(class=("swiper-slide " + card.modificator) )