.ssl-cert__ssl-advantages {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;
  text-align: center;
  color: $ssl-cert__ssl-advantages--Color;
  padding: 0 7px;
  margin-bottom: auto ; 
  @media (max-width: $md - 1px){
    font-size: 2.4rem;
  }
}
