mixin ssl-cert__ssl-types(modifier)
  if modifier["sslTypes"] == undefined
    - modifier["sslTypes"] = [{}];
  ul.ssl-cert__ssl-types&attributes(attributes)
    each sslType in modifier.sslTypes
      if sslType["modifier"] == undefined
        - sslType["modifier"] = "";
      +ssl-cert__ssl-type(sslType.sslType)(class=("swiper-slide " + sslType.modifier))