.servers__table-cell {
  position: relative;
  min-height: 52px;
  @include py(10px);
  box-sizing: border-box;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  
  &_theme_column-head{
    min-height: 48px;
    box-sizing: content-box;
    padding-top: 18px;
    padding-bottom: 10px;
  }

  &_theme_dark-blue{
    background: $servers__table-cell_theme_dark-blue--BGColor;
    color: $servers__table-cell_theme_dark-blue--Color;
  }

  &_theme_light-blue{
    background-color: $servers__table-cell_theme_light-blue--BGColor;
  }

  &_theme_blue{
    background-color: $servers__table-cell_theme_blue--BGColor;
    color: $servers__table-cell_theme_blue--Color;
  }

  &_left-divider + .servers__table-cell_left-divider{
    &:before{
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      height: 100%;
      width: 0.5px;
      background-color: $servers__table-cell_left-divider--BGColor;
    }
  }
}
