.text-container {
  font-weight: 400;
  font-size: 2rem;
  line-height: 150%;
  color: $text-container--Color;

  @media (max-width: $xl - 1px){
    padding-top: 15px ;
    margin-bottom: 35px;
  }
}
/*
texts:[""],
buttonText:"";
*/
@import '__text/text-container__text';
@import '__button/text-container__button';
