.advantages-list {
  font-weight: 600;
  font-size: 2rem;
  line-height: 150%;
  color: $advantages-list--Color;
  position: relative;
}
/*
advantages: [{modifier: "",text:""},]
*/
@import '__advantage/advantages-list__advantage';
