mixin ssl-cert__ssl-type(modifier)
  li.ssl-cert__ssl-type&attributes(attributes)
    +ssl-cert__title-container(modifier)
    +ssl-cert__ssl-advantages(modifier)
    +ssl-cert__ssl-price(modifier.price)
