mixin header__emergency-text(modifier)
  if modifier["emergencyText"] == undefined
    - modifier["emergencyText"] = "empty__emergencyText";
  p.header__emergency-text&attributes(attributes)!=modifier.emergencyText
