mixin hosting-prices__column-body(modifier)
  li.hosting-prices__column-body&attributes(attributes)
    +hosting-prices__advantages(modifier)
    +hosting-prices__price-container(modifier)   
    +button(modifier)(class="hosting-prices__button button_theme_dark-blue")