.hosting-prices {
  @include py(95px);
  background-color: $hosting-prices--BGColor;
  color: $hosting-prices--Color;

  @media (max-width: $md - 1px){
    @include py(15px);
  }
}
$column-width : 280px;
$columns-gap: 20px;
/*
blockHead: {headTag, text, description},
columns: [{
            modifier,
            columnHeadPicModifier,
            columnHeadPic,
            columnHeadText,
            advantages: [{modifier, text}]
            price: {price, period},
            oldPrice: {price, period},
            buttonText:"",
          }],
gridLabel,
link:{href,text},
proposalsTitle: "",
proposals: [{modifier:"", proposal:""}]

$column-width// указывает на ширину колонки (для column-head и для column-body), прописывается в hosting-prices перед остальными стилями,
$columns-gap// указывает на ширину между колонками , прописывается в hosting-prices перед остальными стилями,

$hosting-prices--BGColor;
$hosting-prices__column-head--BGColor;
$hosting-prices__column-head-text--Color;
$hosting-prices--Color;
$hosting-prices__proposals-title--Color;
*/
@import '__block-head/hosting-prices__block-head';
@import '__grid/hosting-prices__grid';
@import '__column-head/hosting-prices__column-head';
@import '__column-pic/hosting-prices__column-pic';
@import '__column-head-text/hosting-prices__column-head-text';
@import '__grid-label/hosting-prices__grid-label';
@import '__column-body/hosting-prices__column-body';
@import '__advantages/hosting-prices__advantages';
@import '__advantage/hosting-prices__advantage';
@import '__price-container/hosting-prices__price-container';
@import '__price/hosting-prices__price';
@import '__button/hosting-prices__button';
@import '__link/hosting-prices__link';
@import '__heads/hosting-prices__heads';
@import '__bodies/hosting-prices__bodies';
@import '__link-container/hosting-prices__link-container';
@import '__proposals-section/hosting-prices__proposals-section';
@import '__proposals-pic/hosting-prices__proposals-pic';
@import '__proposals-side/hosting-prices__proposals-side';
@import '__proposals-title/hosting-prices__proposals-title';
// @import '__proposals/hosting-prices__proposals';
// @import '__proposal/hosting-prices__proposal';
