.hosting-prices {
  padding-top: 95px;
  background-color: $hosting-prices--BGColor;
  color: $hosting-prices--Color;

  @media (max-width: $md - 1px){
    padding-top: 15px;
  }
}
$column-width : 280px;
/*
blockHead: {headTag, text, description},
columns: [{
            modifier,
            columnHeadPicModifier,
            columnHeadPic,
            columnHeadText,
            advantages: [{modifier, text}]
            price: {price, period},
            oldPrice: {price, period},
            buttonText:"",
          }],
gridLabel,
link:{href,text},

$column-width// прописывается в hosting-prices перед остальными стилями, указывает на ширину колонки (для column-head и для column-body)

$hosting-prices--BGColor;
$hosting-prices__column-head--BGColor;
$hosting-prices__column-head-text--Color;
$hosting-prices--Color;
*/
@import '__block-head/hosting-prices__block-head';
@import '__grid/hosting-prices__grid';
@import '__column-head/hosting-prices__column-head';
@import '__column-pic/hosting-prices__column-pic';
@import '__column-head-text/hosting-prices__column-head-text';
@import '__grid-label/hosting-prices__grid-label';
@import '__column-body/hosting-prices__column-body';
@import '__advantages/hosting-prices__advantages';
@import '__advantage/hosting-prices__advantage';
@import '__price-container/hosting-prices__price-container';
@import '__price/hosting-prices__price';
@import '__button/hosting-prices__button';
@import '__link/hosting-prices__link';
