.ssl-cert__ssl-price {
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 150%;
  text-align: center;
  color: $ssl-cert__ssl-price--Color;
  padding-right: 9px;
  
  span{
    font-size: 1.6rem;
  }
}
