@import 'Roboto_Flex/Roboto_Flex';
//font-family: 'Roboto_Flex' ,"Times" , serif;


//font-family: 'Montserrat' ,Arial , Sans-serif;

//font-family: 'Roboto' ,"Arial" , sans-serif;
//font-family: 'Russo One' ,"Arial" , sans-serif;

//font-family: 'PT_Serif' ,"Times" , serif;

// "Arial", sans-serif - запасной шрифт и семейство шрифтов для шрита без засечек
// "Times", serif - запасной шрифт и семейство шрифтов для шрита с засечками
// ссылка вникуда -
// (href="#!")


//include ../../../img/svg/facebook.pug
