.header__private-area {
  display: flex;
  align-items: center;
  margin-top: -6px  ;
  @media (max-width: $md - 1px){
    order: 2;
    margin-top: 0  ;
    margin-right: 30px;
    margin-left: auto;
  }
}
