.CMS-support__logo {
  box-sizing: border-box;
  flex: 0 0 calc(20% - 1px);
  text-align: center;
  margin-bottom: 50px;
  @media (max-width: $lg - 1px){
    flex-basis:33%;
    margin-bottom: 40px ; 
  }
  @media (max-width: $md - 1px){
      flex-basis: 50%;
      margin-bottom: 30px ; 
  }
  @media (max-width: $sm - 1px){
      flex-basis: 100%;
      margin-bottom: 20px; 
  }
}
