.header__emergency-block {
  margin-left: auto;
  display: flex;
  margin-right: 4.6%;
  margin-top: 19px;
  @media (max-width: $md - 1px){
    margin-right: 0px;
    margin-top: 19px;
    display: none;
    order: 10;
  }
}
