.servers__row {
  margin-bottom: 110px;
  align-items: center;
  display: flex;

  &:last-child{
    margin-bottom: 0 ; 
  }
  @media (max-width: $xl - 1px){
    flex-direction: column;
  }
  @media (max-width: $md - 1px){
      margin-bottom: 25px ; 
  }
}
