.header__services {
  display: flex;
  justify-content: space-between;
  @include mx(auto);
  @media (max-width: $md - 1px){
    padding-top: 10px;
    flex-direction: column;
    text-align: center;
  }
}
