mixin ways-to-pay__pay-system(modifier)
  if modifier["href"] == undefined
    - modifier["href"] = "#!";
  li.ways-to-pay__pay-system&attributes(attributes)
    a(href=modifier.href)
      +ways-to-pay__pay-system-pic(modifier)